<h3>Lid worden van beCP vòòr de beOI?</h3>
<p>Dan moet je ons bewijzen dat je een basisvaardigheid programmeren hebt, door één van de volgende doelen halen (naar keuze):</p>
<ul data-bullet="ti-control-stop">
  <li>In het beste driekwart van het klassement eindigen na een klassieke wedstrijd van <%= ext_link_to "Codeforces", "http://codeforces.com/contests" %></li>
  <li>5 oefeningen oplossen die <%= ext_link_to "op de UVa-site staan en horen bij het boek \"Competitive Programming 3\"", "https://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=604" %></li>
  <li>Niveau 4 halen van <%= ext_link_to "France-IOI", "http://www.france-ioi.org/" %></li>
</ul>
Zodra je één van deze opdrachten hebt volbracht, stuur je een email naar <%= mail_to "becp@be-oi.be" %>!
