<h3>Entrer dans la beCP avant la beOI&nbsp;?</h3>
<p>Vous devez pour cela nous prouver que vous avez connaissez les bases de la programmation.</p>
<p>Pas si difficile que ça, atteignez l'un des objectifs suivants (au choix):</p>
<ul data-bullet="ti-control-stop">
  <li>Débloquer le niveau 4 sur <%= ext_link_to "France-IOI", "http://www.france-ioi.org/" %></li>
  <li>Arriver dans les 3 premiers quarts du classement d'un concours classique <%= ext_link_to "Codeforces", "http://codeforces.com/contests" %></li>
  <li>Résoudre 5 exercices parmi <%= ext_link_to "ceux proposés sur le site UVa et concernant le livre \"Competitive Programming 3\"", "https://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=604" %></li>
</ul>
Lorsque vous avez effectué l'un de ces objectifs, envoyez-nous un e-mail à <%= mail_to "becp@be-oi.be" %> !
